body {
    font:18/1.5 sans-serif;
    color:#333;
}

table,
td{
    border: 1px solid #000;
}

td{
    padding: 10px;
    background-color: aqua;
}

th{
    background-color: blue;
}

#amount{
    text-align: right;
}